Author : Clara Martinez

## Week 3 - Day 4

*Import Libraries*

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

*Load and Explore the Dataset*

It may include data such as date, opening price, closing price, high and low prices, and trading volume.

This information can be used to study trends and patterns in the stock market and make informed investment decisions.

Date: Represents the date of the stock price.

Open: Represents the opening stock price on that date.

High: Represents the highest stock price on that date.

Low: Represents the lowest stock price on that date.

Close: Represents the closing stock price on that date.

Adj close: Represents the adjusted closing stock price on that date (taking into account corporate actions such as splits).

Volume: Represents the number of shares traded on that date.

In [13]:
# Load the dataset
df = pd.read_csv('Apple Stock Prices (1981 to 2023).csv')

In [15]:
# Display the first few rows
df.head()

         Date      Open      High       Low     Close  Adj Close    Volume
0  02/01/1981  0.154018  0.155134  0.154018  0.154018   0.119849  21660800
1  05/01/1981  0.151228  0.151228  0.150670  0.150670   0.117244  35728000
2  06/01/1981  0.144531  0.144531  0.143973  0.143973   0.112032  45158400
3  07/01/1981  0.138393  0.138393  0.137835  0.137835   0.107256  55686400
4  08/01/1981  0.135603  0.135603  0.135045  0.135045   0.105085  39827200

In [16]:
# Check for missing values
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [17]:
# Display descriptive statistics
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,10608.000000,10608.000000,10608.000000,10608.000000,10608.000000,1.060800e+04
mean,16.689173,16.879955,16.500822,16.697362,16.027345,3.275098e+08
std,35.450519,35.882848,35.031289,35.473912,35.154878,3.378203e+08
min,0.049665,0.049665,0.049107,0.049107,0.038213,0.000000e+00
25%,0.287946,0.296875,0.282355,0.288923,0.238909,1.213044e+08
50%,0.488839,0.495536,0.480446,0.487701,0.404851,2.145976e+08
75%,16.320893,16.418483,16.151249,16.269554,14.073167,4.066804e+08
max,182.630005,182.940002,179.119995,182.009995,180.959747,7.421641e+09

In [18]:
#check catagorical variables
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10608 entries, 0 to 10607
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       10608 non-null  object
 1   Open       10608 non-null  float64
 2   High       10608 non-null  float64
 3   Low        10608 non-null  float64
 4   Close      10608 non-null  float64
 5   Adj Close  10608 non-null  float64
 6   Volume     10608 non-null  int64
dtypes: float64(5), int64(1), object(1)
memory usage: 580.3+ KB

In [22]:
# Convert 'Date' to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Set 'Date' as the index
df.set_index('Date', inplace=True)

ValueError: time data "13/01/1981" doesn't match format "%m/%d/%Y", at position 7. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

Data Preprocessing

In [ ]:
# Separate features and target variable
X = df.drop('price_range', axis=1)
y = df['price_range']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Scale the numerical features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

Hackathon

In [9]:
import random

def random_association():
    # Liste des 8 sujets
    subjects = [
        "Hackathon Subject 1: Credit Card Fraud Detection and Prevention",
        "Hackathon Subject 2: Analyzing Medical Insurance Costs",
        "Hackathon Subject 3: Exploring Employee Attrition and Performance",
        "Battle of the Cities: Quality of Life Analysis",
        "The Ultimate Streaming Guide",
        "Price Tracker: The Hunt for the Best Deals",
        "Foodie Analysis: Popular Dishes Across the Globe",
        "Social Sentiment: Global Trends in Public Discussions"
    ]

    # Générer un entier aléatoire pour identifier l'association
    assoc_number = random.randint(1, 1000)

    # Générer des numéros uniques entre 1 et 8 pour chaque sujet
    unique_numbers = random.sample(range(1, 9), len(subjects))

    # Affichage
    print(f"La liste de vos sujets est:")
    for subject, number in zip(subjects, unique_numbers):
        print(f"  - {subject} (Numéro: {number})")
    print()

# Appeler la fonction pour voir le résultat
random_association()

La liste de vos sujets est:
  - Hackathon Subject 1: Credit Card Fraud Detection and Prevention (Numéro: 5)
  - Hackathon Subject 2: Analyzing Medical Insurance Costs (Numéro: 3)
  - Hackathon Subject 3: Exploring Employee Attrition and Performance (Numéro: 2)
  - Battle of the Cities: Quality of Life Analysis (Numéro: 8)
  - The Ultimate Streaming Guide (Numéro: 1)
  - Price Tracker: The Hunt for the Best Deals (Numéro: 6)
  - Foodie Analysis: Popular Dishes Across the Globe (Numéro: 4)
  - Social Sentiment: Global Trends in Public Discussions (Numéro: 7)